body {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    height: 1.5625rem;
    width: 5.375rem;
}

.cards-section .card {
    height: 28rem;
    width: auto;
}

.card-title h5 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #212529;
}





